/ConnexionServlet.class
/EndGameServlet.class
/InitializeGameServlet.class
/InscriptionServlet.class
/ManageAnswersServlet.class
/DeconnexionServlet.class
/ChangePasswordServlet.class
/LeaderboardServlet.class
